<table style="width:20%">
  <h1>Monthly Budget 2000</h1>
  <tr>
      <h2>Month May</h2>
    </tr>
    <tr>
        <td>Transport</td>
        <td>R200</td>
      </tr>
      <tr>
          <td>Food</td>
          <td>R200</td>
          </tr>
          <tr>
            <td>My Daughter Savings</td>
            <td>R800</td>
           </tr>
           <tr>
           </tr>
           <tr>
             <td>Hair</td>
             <td>R300</td>
               </tr>
               <tr>
                 <td>Parents Budget</td>
                 <td>R500</td>